name: Automerge the dependabot updates
on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - main

jobs:
  wait-for-status:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for status checks
        uses: actions/wait-for-status@v1
        with:
          timeout: 300

      - name: Automate Merge
        uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  manual-merge:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Wait for status checks
        uses: actions/wait-for-status@v1
        with:
          timeout: 300

      - name: Request a manual merge
        uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          merge_method: merge
